*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 0;
    width: 100%
}
header img{
    width: 50px;
    border-radius: 50%;
}
body{
    background-color: #ff6600 !important;
}
nav a{
    color: #E0E0E0;
    text-decoration: none;
    text-align: center;
}
.nav-links{
    list-style: none;
    display: flex;
}
.pag-tittle{
    background-image: url("images/imagem-de-marca.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 90%;
    margin: 0 5% !important;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{
    color: white !important;
}
h1{
    color: black !important;
    font-weight: bold !important;
    text-align: center;
}
.nav-links li{
    margin:0 15px !important;;
}
.nav-links li a{
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}
.nav-links a:hover{
    color: #fff;
}
.menu-icon{
    display: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
.content-section{
    width: 100%;
    margin: 1% 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}
.center-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 5px;
} */

.margin{
    margin: 2% 5%
}
footer{
    background-color: #E0E0E0;
}


/* mobile */
@media (max-width: 720px){
    .nav-links{
        position: absolute;
        right: 0;
        top: 60px;
        max-height: 0;
        overflow: hidden;
        flex-direction: row;
        background-color: #333;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transition: max-height 0.3 ease;
        margin-top: 10px;
    }
    main{
        margin-top: 10px !important;
    }
    .nav-links.show {
        max-height: 300px;
    }
    .nav-links li{
        margin: 20px;
        text-align: center;
        display: flex;
    }
    .nav-links a{
        background-color: #fff;
        color: #333;
        border-radius: 5px;
        padding: 5%;
    }
    .menu-icon{
        display: block;
    }
    .pag-tittle{
    height: 250px;
    background-image: url(images/imagem-de-marca.jpeg);
    background-position: 50% 20%;
    background-size: contain;
    }
    .margin{
        margin: 2% 5%;
    }
}